<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title> girl chat </title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">

</head>
<body>
  <h2>Chat</h2>
  <ul id="messages"></ul>
  <input id="msg" placeholder="write here" />
  <button onclick="send()">send</button>
  <body>
  <h2>Welcome in our chat</h2>
</body>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('message', (data) => {
      const li = document.createElement('li');
      li.textContent = data.text;
      document.getElementById('messages').appendChild(li);
    });

    function send() {
      const msg = document.getElementById('msg').value;
      socket.emit('message', msg);
      document.getElementById('msg').value = '';
    }
  </script>

</body>
</html>
